.template-password {
   //background-color: c(grey);
    * {
        display:none;
    }
    div#Login {
        display:block;
        text-align:center;
        width:300px;
        max-width:100%;
        margin:-20% auto 0 auto;
        @include centre-align(absolute); 
        * {
            display:initial;
        }
        input {
            text-align:initial;
        }        
        form {
            display:block;
            width:100%;
            label {
                display:none;
            }
            input,
            button {
                display:block;
                width:100%;
            }
        }
    }
}