button,
input[type="submit"],
.btn {
    background-color: c(black);
    border: 0 none;
    border-radius: 0.4rem;
    color: c(white);
    cursor:pointer;
    margin-bottom:1rem;
    padding:1rem 3rem;
    text-transform:uppercase;

    @include transition(background-color);

    &:hover,
    &:active,
    &:focus {
        background-color: lighten(c(black),20%);
    }

    &.btn--inverted {

        background-color: c(white);
        color:c(black);

        &:hover,
        &:active,
        &:focus {
            background-color: darken(c(white),10%);
        }
    }
}