.cart-link {
    display:block;
    position:absolute;
    top:0.5rem; left:40px;
    padding:1rem;
    width:100%;
    
    span {
        left:calc(0.5rem + 40px);
        top:26%;
        position:absolute;
    }
    &::after {
        display:none;
    } 

    svg {
        @include transition(transform);
    }

    &:hover {

        svg {
            @include scale(1.3);
        }

    }

}