
.template-collection #MainContent,
#shopify-section-collection-list,
#shopify-section-featured-collection {
    text-align:center;
}

.collection__title,
.collection-list__title,
.featured-collection__title {
    display:inline-block;
    position:relative;
    &::after {
        content:"";
        background-color:c(purple);
        display:block;
        height:2px;
        position:absolute;
        right:-1rem;
        bottom:-0.2em;
        left:-1rem;            
    }
}

.collection-list-item,
.featured-collection-item {
    text-align:center;
    @include transition(transform);
    &::after,
    a::after {
        display:none;
    }
    &:hover,
    &:active,
    &:focus {
        @include scale(1.1);
    }
}