.nav-container {
    position:relative;
    z-index:1;
}

nav.main-navigation {
    background-color:rgba(c(black),0.9);
    display:block;
    position:fixed;
    top:0;
    right:0; 
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    text-align:center;
    z-index:2;
    @include transition(opacity);    
    ul {
        list-style-type:none;
        margin-top:8rem;
        @include translateX(absolute);
        li {
            font-size:3rem;
            //font-size:3vw;
            @include breakpoint(medium){
                font-size:3vw;
            }
            padding:0.5rem;
        }
    }
    a {
        color:c(white);
        font-weight:400;
        &::after {
            background-color:c(white);
        }
        &:focus {
            &::after {
                background-color:c(purple);
            } 
        }
    }
}

label.nav-trigger {
    position:absolute;
    cursor:pointer;
    z-index:3;
    top:0.5rem; right:0;

    @include transition(transform);
    &:hover {
        @include scale(1.2);
    }

    > span {
        display:block;
        height:40px;
        width:40px;
        position:relative;
        span {
            background-color:c(black);
            border-radius: 0.4rem;
            position:absolute;
            height:2px;
            right:0;
            @include transition(background-color);
            &:first-of-type {
                top:5px;
                left:0;
            }
            &:nth-of-type(2) {
                left:15%;
                @include translateY(absolute);
            }
            &:last-of-type {
                bottom:5px;
                left:30%;
            }
        }
    }
}

input#nav-trigger { 
    display:none;
}

input#nav-trigger:checked + label.nav-trigger {
    span span {
        background-color:c(white);
    }
    + nav.main-navigation {    
        opacity:1; 
        pointer-events:initial;
    }
}