form.search-form {

    position:relative;
    padding-top:15px;
    z-index:1;

    .field {
        position:relative;
        opacity:0;
        pointer-events: none;
        z-index:2;
        @include transition(opacity);
        label {
            display:none;
        }
        input {
            margin:0;
        }
    }

    button.button {
        margin:0;
        padding:0;
        background:none;
        padding:1rem;
        position:absolute;
        top:0.5rem; left:0;
        @include transition(transform);
        span {
            display:none;
        }
        &:hover {
            @include scale(1.3);
        }
    }

    &._active {
        div.field {
            opacity:1;
            pointer-events: initial;
        }
    }
}