html, body {
    font-family: 'Source Sans Pro', sans-serif;

    // specify font size on body in pixels then use rem and em throughout the rest of the styles
    font-size: 16px;
    line-height:1.6;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
    font-weight:600;
    margin:1rem 0;
}
h1,.h1 {
    font-size:3rem;
}
h2,.h2 {
    font-size:2rem;
}
h3,.h3 {
    font-size:1.6rem;
}
h4,.h4 {
    font-size:1.3rem;
}
h5,.h5 {
    font-size:1rem;
}

p, label {
    margin:1rem 0;
}