{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

{% if section.settings.title != blank %}
  <h2 class="featured-collection__title mt-2 center-content">{{ section.settings.title | escape }}</h2>
{% endif %}

<section class="featured-collection flex-wrapper">

  {%- assign collection = collections[section.settings.collection] -%}

  {% for product in collection.products limit: 6 %}
    <a href="{{ product.url | within: collection }}" class="featured-collection-item flex-item fb-100 fb-sm-33">
      <span class="d-block w-100">
        {% if product.featured_image != blank %}
          <span class="featured-collection__image">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 480,
              max_height: 480
            %}
          </span>
        {% endif %}

        <p class="h4">{{ product.title | escape }}</p>
        <span>
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
        </span>
      </span>
    </a>
  {% else %}
    {% for i in (1..6) %}
      <a href="#" class="featured-collection-item flex-item fb-100 fb-sm-33">
        <span class="d-block w-100">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

          <p class="h4">{{ 'homepage.onboarding.product_title' | t }}</p>
          <p>{{ 1999 | money }}</p>
        </span>
      </a>
    {% endfor %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
