html, body {
    box-sizing: border-box;
    color:c(grey-dark);
    * {
        box-sizing: inherit;
    }
}

a {
    color:inherit;
    cursor:pointer;
    display:inline;
    outline:none;
    position:relative;
    text-decoration: none; 
    &::after {
        background-color:c(black);
        content:"";
        display:block;
        height:1px;
        position:absolute;
        right:100%;
        bottom:-0.2em;
        left:0;
        @include transition("right,background-color");
    }
    &:hover,
    &:active,
    &:focus {
        &::after {
            right:0;
        }
    }
    &:focus {
        outline:none;
        &::after {
            background-color:c(purple);
        }        
    }
}